.advantages {
  grid-column: container-start / container-end;

  //   @extend %sec-padding;
  padding: 3rem 35rem;
  background: -webkit-linear-gradient(
    right,
    #bf953f,
    #fcf6ba,
    #d0a956,
    #fbf5b7,
    #dcb777
  );
  background: linear-gradient(
    right,
    #bf953f,
    #fcf6ba,
    #d0a956,
    #fbf5b7,
    #dcb777
  );

  &__title {
    color: var(--color-on-primary);
    font-size: font-size(font-size-large);
    font-weight: font-weight(font-weight-regular);
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }

  @include media-tablet-bigger {
    padding: 3rem 26rem;
  }
  @include media-tablet {
    padding: 3rem 10rem;
  }
  @include media-medium {
    padding: 3rem 3rem;
  }
  @include media-small {
    padding: 3rem 1rem;
  }
}
